body {
    background-color: rgb(53, 61, 69);
    font-family: Arial, Helvetica, sans-serif;
}

.todo__container {
    width: 500px;
    height: auto;
    background-color: rgb(72, 83, 94);
    border: 1px solid white;
    padding: 15px;
    border-radius: 20px;
}

.todo__item {
    border: 1px solid white;
    margin-bottom: 25px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px white;
    background-color: rgb(246, 240, 127);
    cursor: pointer;
}

.todo__delete-btn {
    float: right;
    background-color: white;
    width: 100px;
    height: 27px;
    display: block;
    border-radius: 0 20px 20px 0;
    padding-top: 10px;
    position: relative;
    top: -10px;
    right: -11px;
    padding-left: 5px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 20px;
    box-shadow: 1px 1px 1px black;
    cursor: pointer;
}

.todo__item-done {
    background-color: rgb(143, 213, 134);
}

.todo__form-input {
    margin-top: 40px;
    border: 1px solid white;
    margin-bottom: 25px;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px white;
    background-color: rgb(121, 143, 255);
    cursor: pointer;
    width: 93%;
    font-size: 15px;
}

.todo__form-btn {
    background-color: white;
    width: 100px;
    height: 46px;
    display: block;
    border: 0px;
    border-radius: 0 20px 20px 0;
    padding-top: 10px;
    position: relative;
    top: -10px;
    right: -11px;
    padding-left: 5px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 20px;
    box-shadow: 1px 1px 1px black;
    cursor: pointer;

    position: relative;
    right: -399px;
    top: -73px;
}